<ion-view view-title="Welcome">
    
    <ion-content class="padding">
        
        <ion-refresher
            pulling-text="Pull to refresh..."
            refreshing-text="Loading..."
            refreshing-icon="ion-loading-c"
            pulling-icon="ion-ios7-arrow-thin-down"
            on-refresh="doRefresh()">
        </ion-refresher>
        
        <div class="list card">
            <div class="item item-body">
                <div>
                    What you can do with this app..
                </div>
            </div>
        </div>
        
        
        
        
    </ion-content>
</ion-view>
