<ion-view view-title="Book scan">
    <ion-content class="padding">
        
        <div class="list card">
            <div class="item item-body">
                <div>
                    <button id="startScan" class="button button-block button-positive">
                        Start ISBN Scan
                    </button>
                </div>
            </div>
        </div>
        
        <div class="list card">
            <div class="item item-divider">Book</div>
            <div class="item item-body">
                <div>
                    <div id="results"></div>
                    <div id="resultsISBN"></div>
                </div>
            </div>
        </div>
        
        
    </ion-content>
</ion-view>
