<ion-view view-title="Welcome">
    
    <ion-content class="padding">
        
        <ion-refresher
            pulling-text="Pull to refresh..."
            refreshing-text="Loading..."
            refreshing-icon="ion-loading-c"
            pulling-icon="ion-ios7-arrow-thin-down"
            on-refresh="doRefresh()">
        </ion-refresher>
        
        <div class="list card">
            <div class="item item-body">
                <div>
                    What you can do with this app..
                </div>
            </div>
        </div>
        
        
        <div id="footerTargetMessage" ng-show="showTargetMessage">
            <div data-ng-show="showError" ng-class="{fade:doFade}" class="alert alert-danger">
                <strong>New Purchase:</strong> {{purchasedUser}} {{purchaseMessage}}
                {{purchasedProduct}}
                <!-- <p>randomNumberTimer: {{randomNumberTimer}}</p> -->
            </div>
        </div>

        

        <div ng-class="targetRefresh" id="someone-purchased" class="elementToFadeInAndOut">
            <div class="list card">

                <div class="item item-avatar">
                    <img src="{{randomProductImage}}">
                    <h2>{{randomProductName}}</h2>
                    <p>2 minutes ago...</p>
                </div>

                <div class="item item-body">
                    <img class="full-image" src="{{randomProductImage}}">
                    <p>Just purchased by {{randomProductUser}} in {{randomProductLocation}}</p>
                    <p>
                        <a href="#" class="subdued">1 Like</a>
                        <a href="#" class="subdued">5 Comments</a>
                    </p>
                </div>

            </div>
        </div>


        
    </ion-content>
</ion-view>

<style>

.item-body {
    overflow: auto;
    padding: 5px;
    text-overflow: inherit;
    white-space: normal;
}

#footerTargetMessage {
    position: fixed;
    bottom: 40px;
    width: 90%;
}

@-webkit-keyframes elementToFadeInAndOut {
    0% {
        background-color: Yellow;
        opacity:1;
    }

    100% {
        background-color: #777;
        opacity:0;
    }
}
.elementToFadeInAndOut {
    width: 200px;
    height: 200px;
    position: fixed;
    background: red;
    top: 30%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
    -webkit-animation-name: elementToFadeInAndOut;
	-webkit-animation-duration: 10s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:ease-in-out;
	-webkit-animation-direction: alternate;
}

@-webkit-keyframes fadeinout {
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
}

@keyframes fadeinout {
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
}
</style>