
<ion-view view-title="Welcome">
        
    <ion-tabs class="tabs-icon-top tabs-color-active-positive">

        <!-- Home Tab -->
        <ion-tab title="Home" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/home">
            <ion-nav-view name="tab-home"></ion-nav-view>
        </ion-tab>

        <!-- Scan Tab -->
        <ion-tab title="Scan" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/app/tab/scan">
            <ion-nav-view name="tab-scan"></ion-nav-view>
        </ion-tab>

        <!-- Books Tab -->
        <ion-tab title="Books" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/app/tab/books">
            <ion-nav-view name="tab-books"></ion-nav-view>
        </ion-tab>

        <!-- Account Tab -->
        <ion-tab title="Account" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/app/tab/account">
            <ion-nav-view name="tab-account"></ion-nav-view>
        </ion-tab>

        <!-- Tides Tab -->
        <ion-tab title="Tides" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/app/tab/tides" hidden="true">
            <ion-nav-view name="tab-tides"></ion-nav-view>
        </ion-tab>

        <!-- Currency Tab -->
        <ion-tab title="Tides" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/app/tab/currencyconverter" hidden="true">
            <ion-nav-view name="tab-currencyconverter"></ion-nav-view>
        </ion-tab>

        <!-- BLE Tab -->
        <ion-tab title="Tides" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/app/tab/ble" hidden="true">
            <ion-nav-view name="tab-ble"></ion-nav-view>
        </ion-tab>

        <!-- Weather Tab -->
        <ion-tab title="Weather" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/app/tab/weather" hidden="true">
            <ion-nav-view name="tab-weather"></ion-nav-view>
        </ion-tab>

    </ion-tabs>

</ion-view>
